.header-block{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 30px;
}

.wrap-menu ul{
    display: flex;
    

}

li{
    padding-top: 10px;
    margin-left: 10px;
    display: inline-block;
}